parameters:
    level: 10
    paths:
        - src
        - test
    stubFiles:
        - stubs/Laminas/ServiceManager/Factory/AbstractFactoryInterface.php.stub
        - stubs/Laminas/ServiceManager/Factory/DelegatorFactoryInterface.php.stub
        - stubs/Laminas/ServiceManager/Factory/FactoryInterface.php.stub
        - stubs/Laminas/ServiceManager/Factory/InvokableFactory.php.stub
        - stubs/Laminas/ServiceManager/Initializer/InitializerInterface.php.stub
        - stubs/Psr/Container/ContainerInterface.php.stub
    treatPhpDocTypesAsCertain: false